/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* generics */



body{
    background-color: #F6F8F9;

}

main{
    margin: 0 auto;
    max-width: 1200px;
}

.container{
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.uppercard{
    border-top-left-radius: 5px;
    border-top-right-radius: 5pz;
    margin-bottom: 10px;
}

.bottomcard{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 10px;
}

li{
    list-style-position: inside;
    list-style-type: none;
    font-size: 1rem;
    padding: 1rem;
}


/* style specs */

.logo{
    padding: 10px;
}

h1{
    display: inline;
    font-size: 3rem;
}

.white_bg{
    background-color: white;
}

.blue_button{
    background-color: #47ADF1;
    color: white;
    border: solid;
    padding: 10px;
    border-radius: 8px;
}

.searchbar{
    background-color: white;
    color: lightgray;
    border: solid;
    padding: 10px;
    border-radius: 8px;
}

.done{
    color: green;
    border: solid;
    border-color: green;
    padding: 5px;
    border-radius: 50px;
}

.undone{
    color: red;
    border: solid;
    border-color: red;
    padding: 5px;
    border-radius: 50px;
}

.editorial{
    background-color: #45ABE9;
    color: #F6F8F9;
    border-radius: 20px;
    padding: 0.5rem;
}

.goals{
    background-color: #9C72E4;
    color: #F6F8F9;
    border-radius: 20px;
    padding: 0.5rem;
}

.recruiting{
    background-color: #64C0A9;
    color: #F6F8F9;
    border-radius: 20px;
    padding: 0.5rem;
}

.mobile{
    background-color: #F29E33;
    color: #F6F8F9;
    border-radius: 20px;
    padding: 0.5rem;
}

.website{
    background-color: #D863A0;
    color: #F6F8F9;
    border-radius: 20px;
    padding: 0.5rem;
}

.sales{
    background-color: #B0C926;
    color: #F6F8F9;
    border-radius: 20px;
    padding: 0.5rem;
}